File được tạo với mục đích  

1.   Tiền xử lý dữ liệu các nguồn dữ liệu có sẵn
2.   Chia thành các tập huấn luyện - tập kiểm thử nhằm mục đích đánh giá các mô hình học máy khác nhau trên cùng một bộ dữ liệu

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

In [ ]:
%cd '/content/drive/MyDrive/TrangNgan/Data'
%ls

In [4]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [5]:
test_size = 0.2
random_state = 42

## **Dataset 1**

Nguồn: https://www.kaggle.com/datasets/prachi13/customer-analytics?fbclid=IwAR2yPwk6GvEmjkcmgul9g0fVUvgVOZsuH6JA2mc9oyrdcinUbvRmwduUr0c

In [ ]:
#Đọc dữ liệu từ file Data1.csv

df_1 = pd.read_csv("Data1.csv")
df_1.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

Giải thích ý nghĩa các trường trong tập dữ liệu
*   ***ID***:
*   ***Warehouse_block***:
*   Mục danh sách
*   Mục danh sách
*   Mục danh sách
*   Mục danh sách

Kiểm tra định dạng, dữ liệu null của các trường dữ liệu

In [ ]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB

Chuyển các dữ liệu định dạng object về dạng số

Sử dụng phương thức LabelEncoder có sẵn trong thư viện scikit-learn để gán một số nguyên duy nhất cho mỗi giá trị có định dạng object

In [ ]:
le = LabelEncoder()
is_Category = df_1.dtypes == object
category_column_list = df_1.columns[is_Category].tolist()
df_1[category_column_list] = df_1[category_column_list].apply(lambda col: le.fit_transform(col))

In [ ]:
df_1.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,3,0,4,2,177,3,1,0,44,1233,1
1,2,4,0,4,5,216,2,1,1,59,3088,1
2,3,0,0,2,2,183,4,1,1,48,3374,1
3,4,1,0,3,3,176,4,2,1,10,1177,1
4,5,2,0,2,2,184,3,2,0,46,2484,1

In [ ]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  int64
 2   Mode_of_Shipment     10999 non-null  int64
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  int64
 8   Gender               10999 non-null  int64
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(12)
memory usage: 1.0 MB

Sau khi xử lý dữ liệu, sử dụng phương thức train_test_split có sẵn trong thư viện scikit-learn để chia tập dữ liệu thành tập huấn luyện và tập kiểm thử (với tỉ lệ 8:2)

In [ ]:
train, test = train_test_split(df_1, test_size=test_size, random_state=random_state)

Lưu thành 2 file Data1_train.csv và Data1_test.csv

In [ ]:
train.to_csv('Data1_train.csv')
test.to_csv('Data1_test.csv')

# **Dataset 2**

Nguồn: https://www.kaggle.com/datasets/ramakrishnanthiyagu/delivery-truck-trips-data

In [ ]:
df_2 = pd.read_excel('Delivery truck trip data.xlsx')
df_2.head(3)

<ipython-input-101-3194150a5735>:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df_2 = pd.read_excel('Delivery truck trip data.xlsx')

,GpsProvider,BookingID,Market/Regular,BookingID_Date,vehicle_no,Origin_Location,Destination_Location,Org_lat_lon,Des_lat_lon,Data_Ping_time,...,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Minimum_kms_to_be_covered_in_a_day,Driver_Name,Driver_MobileNo,customerID,customerNameCode,supplierID,supplierNameCode,Material Shipped
0,CONSENT TRACK,MVCV0000927_082021,Market,2020-08-17 14:59:01.000,KA590408,"TVSLSL-PUZHAL-HUB,CHENNAI,TAMIL NADU","ASHOK LEYLAND PLANT 1- HOSUR,HOSUR,KARNATAKA","13.1550,80.1960","12.7400,77.8200",2020-08-24 00:05:09,...,320.0,NaN,NaN,NaN,NaN,ALLEXCHE45,Ashok leyland limited,VIJEXHOSR7,VIJAY TRANSPORT,BRACKET / GRAB HANDLE
1,VAMOSYS,VCV00014271_082021,Regular,2020-08-27 16:22:22.827,TN30BC5917,"DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","12.8390,79.9540","12.8390,79.9540",2020-08-28 12:40:28,...,103.0,NaN,NaN,RAMESH,NaN,DMREXCHEUX,Daimler india commercial vehicles pvt lt,VJLEXSHE09,VJ LOGISTICS,ZB MODEL PLATE / 3143
2,CONSENT TRACK,VCV00014382_082021,Regular,2020-08-27 17:59:24.987,TN22AR2748,"LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","11.8710,79.7390","11.8710,79.7390",2020-08-28 09:05:09,...,300.0,NaN,NaN,GIRI,NaN,LUTGCCHE06,Lucas tvs ltd,GSTEXLAK1Q,G.S. TRANSPORT,LETTERING / FUSO

Giải thích ý nghĩa các trường trong bảng dữ liệu
*   Mục danh sách
*   Mục danh sách
*   Mục danh sách
*   Mục danh sách

In [ ]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6880 entries, 0 to 6879
Data columns (total 32 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   GpsProvider                         5927 non-null   object
 1   BookingID                           6880 non-null   object
 2   Market/Regular                      6880 non-null   object
 3   BookingID_Date                      6880 non-null   datetime64[ns]
 4   vehicle_no                          6880 non-null   object
 5   Origin_Location                     6880 non-null   object
 6   Destination_Location                6880 non-null   object
 7   Org_lat_lon                         6880 non-null   object
 8   Des_lat_lon                         6880 non-null   object
 9   Data_Ping_time                      5927 non-null   datetime64[ns]
 10  Planned_ETA                         6880 non-null   datetime64[ns]
 11  Current_Location                    5916 non-null   object
 12  DestinationLocation                 6880 non-null   object
 13  actual_eta                          6843 non-null   datetime64[ns]
 14  Curr_lat                            5927 non-null   float64
 15  Curr_lon                            5927 non-null   float64
 16  ontime                              2548 non-null   object
 17  delay                               4342 non-null   object
 18  OriginLocation_Code                 6877 non-null   object
 19  DestinationLocation_Code            6853 non-null   object
 20  trip_start_date                     6880 non-null   datetime64[ns]
 21  trip_end_date                       6686 non-null   datetime64[ns]
 22  TRANSPORTATION_DISTANCE_IN_KM       6168 non-null   float64
 23  vehicleType                         6052 non-null   object
 24  Minimum_kms_to_be_covered_in_a_day  2820 non-null   float64
 25  Driver_Name                         3451 non-null   object
 26  Driver_MobileNo                     2691 non-null   float64
 27  customerID                          6880 non-null   object
 28  customerNameCode                    6880 non-null   object
 29  supplierID                          6880 non-null   object
 30  supplierNameCode                    6880 non-null   object
 31  Material Shipped                    6880 non-null   object
dtypes: datetime64[ns](6), float64(5), object(21)
memory usage: 1.7+ MB

Thực hiện tiền xử lý như sau:

*   Các trường Minimum_kms_to_be_covered_in_a_day, Driver Mobil No, Drive name đều có quá nửa bản ghi là NULL, vì vậy ta sẽ bỏ đi 3 trường này.
*   Trường ontime, delay để dự đoán thực chất là một. Ta chuyển giá trị "G" --> 1 và NULL --> 0 ở trường ontime, đồng thời bỏ trường delay.

*  4 trường Current_Location, Curr_lat, Curr_lon, Data_Ping_time dùng để chỉ thông tin vị trí hiện tại của người vận chuyển khi mà nhận được tín hiệu từ GPS.
Do ta thực hiện việc dự đoán đúng giờ hay không trước khi đơn đặt hàng được vận chuyển nên ta sẽ bỏ 4 trường này.
*   Trường BookingID và BookingID_date, trip_end_date, actual_eta không có ý nghĩa trong việc dự đoán. Ta sẽ bỏ đi trường này.

*   Trường DestinationLocation bị trùng với trường Destination_location vậy ta sẽ bỏ đi một trong hai trường này.

*   2 trường customerNameCode, supplierNameCode chỉ là tên khách hàng và nhà cung cấp có ID ở các trường customerID và supplierID nên ta sẽ bỏ đi hai trường này.


*   Tách 2 trường Org_lat_lon và Des_lat_lon thành các trường kinh độ, vĩ độ riêng.

*   Ta sẽ bỏ đi dữ liệu thời gian mà chỉ giữ lại ngày trong trường trip_start_date và Planned_ETA

In [ ]:
#Bỏ các trường không cần thiết
df_2.drop(axis = 1, columns = ["Minimum_kms_to_be_covered_in_a_day", "Driver_MobileNo", "Driver_Name", "delay", "Current_Location", "Curr_lat", "Curr_lon", "Data_Ping_time",
                              "BookingID", "BookingID_Date", "DestinationLocation", 'trip_end_date', 'actual_eta', "customerNameCode", "supplierNameCode"], inplace = True)

#Thay G = 1, Null = 0 trong trường dự đoán ontime
df_2.ontime.replace({'G':1, np.NaN:0}, inplace=True)

#Tách kinh độ, vĩ độ thành 2 trường khác nhau
df_2[['Org_lat', 'Org_lon']] = df_2['Org_lat_lon'].str.split(',', expand=True).astype(float)
df_2[['Des_lat', 'Des_lon']] = df_2['Des_lat_lon'].str.split(',', expand=True).astype(float)
df_2.drop(axis = 1, columns = ["Org_lat_lon", "Des_lat_lon"], inplace = True)

#Bỏ đi dữ liệu thời gian, giữ lại dữ liệu ngày
df_2['trip_start_date'] = df_2['trip_start_date'].astype(str).str.split(' ', expand=True)[0]
df_2['Planned_ETA'] = df_2['Planned_ETA'].astype(str).str.split(' ', expand=True)[0]

#Bỏ đi bản ghi có giá trị NULL
df_2.dropna(inplace = True)

In [ ]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4906 entries, 59 to 6879
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   GpsProvider                    4906 non-null   object
 1   Market/Regular                 4906 non-null   object
 2   vehicle_no                     4906 non-null   object
 3   Origin_Location                4906 non-null   object
 4   Destination_Location           4906 non-null   object
 5   Planned_ETA                    4906 non-null   object
 6   ontime                         4906 non-null   float64
 7   OriginLocation_Code            4906 non-null   object
 8   DestinationLocation_Code       4906 non-null   object
 9   trip_start_date                4906 non-null   object
 10  TRANSPORTATION_DISTANCE_IN_KM  4906 non-null   float64
 11  vehicleType                    4906 non-null   object
 12  customerID                     4906 non-null   object
 13  supplierID                     4906 non-null   object
 14  Material Shipped               4906 non-null   object
 15  Org_lat                        4906 non-null   float64
 16  Org_lon                        4906 non-null   float64
 17  Des_lat                        4906 non-null   float64
 18  Des_lon                        4906 non-null   float64
dtypes: float64(6), object(13)
memory usage: 766.6+ KB

In [ ]:
df_2.isnull().sum()

GpsProvider                      0
Market/Regular                   0
vehicle_no                       0
Origin_Location                  0
Destination_Location             0
Planned_ETA                      0
ontime                           0
OriginLocation_Code              0
DestinationLocation_Code         0
trip_start_date                  0
TRANSPORTATION_DISTANCE_IN_KM    0
vehicleType                      0
customerID                       0
supplierID                       0
Material Shipped                 0
Org_lat                          0
Org_lon                          0
Des_lat                          0
Des_lon                          0
dtype: int64

Chuyển các dữ liệu định dạng object về dạng số

Sử dụng phương thức LabelEncoder có sẵn trong thư viện scikit-learn để gán một số nguyên duy nhất cho mỗi giá trị có định dạng object

In [ ]:
le = LabelEncoder()
is_Category = df_2.dtypes == object
category_column_list = df_2.columns[is_Category].tolist()
df_2[category_column_list] = df_2[category_column_list].astype(str).apply(lambda col: le.fit_transform(col))

Sau khi xử lý dữ liệu, sử dụng phương thức train_test_split có sẵn trong thư viện scikit-learn để chia tập dữ liệu thành tập huấn luyện và tập kiểm thử (với tỉ lệ 8:2)

In [ ]:
train, test = train_test_split(df_2, test_size=test_size, random_state=random_state)

Lưu lại thành hai file Data2_train và Data2_test

In [ ]:
train.to_csv("Data2_train.csv")
test.to_csv("Data2_test.csv")

# **Dataset 3**

Nguồn: https://www.kaggle.com/datasets/devdataanalyst/food-delivery-performance

In [27]:
df_3 = pd.read_excel("Food delivery Performance.xlsx")

In [28]:
df_3.head()

,order_id,order_time,analytical_customer_id,is_acquisition,is_successful,reason,sub_reason,owner,delivery_arrangement,gmv_amount_lc,...,vertical_class,vertical,is_affordable_freedelivery,is_affordable_item,is_affordable_gem,is_affordable_restaurant,is_affordable_voucher,is_affordable,affordability_amt_total,City
0,544145594,2021-09-01 10:41:53,6zWSp9yqnEQuq4N6ykRgbbdQ,False,True,NaN,NaN,NaN,TGO,134.6900,...,food,food,False,False,False,False,False,False,NaN,Chennai
1,544478492,2021-09-01 18:17:52,TtmFFw26sQR26nBE2RykhxQA,False,True,NaN,NaN,NaN,TGO,134.6454,...,food,food,False,False,False,False,False,False,NaN,Chennai
2,544358032,2021-09-01 15:56:56,7pB4MC2aBPRdajLH2wPvIvAA,False,True,NaN,NaN,NaN,TGO,84.4900,...,food,food,False,False,False,False,False,False,NaN,Chennai
3,544366924,2021-09-01 16:09:09,AFedsf0e-lSZer_X0eR4VE-g,False,True,NaN,NaN,NaN,TGO,320.0130,...,food,food,False,False,False,False,False,False,NaN,Chennai
4,544372362,2021-09-01 16:16:32,JDYqF36aULSEaWsz604DuuRw,False,True,NaN,NaN,NaN,TGO,83.9900,...,food,food,False,False,False,False,False,False,NaN,Chennai

In [29]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119885 entries, 0 to 119884
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   order_id                    119885 non-null  int64
 1   order_time                  119885 non-null  datetime64[ns]
 2   analytical_customer_id      119885 non-null  object
 3   is_acquisition              119885 non-null  bool
 4   is_successful               119885 non-null  bool
 5   reason                      19716 non-null   object
 6   sub_reason                  8348 non-null    object
 7   owner                       19716 non-null   object
 8   delivery_arrangement        119885 non-null  object
 9   gmv_amount_lc               119885 non-null  float64
 10  basket_amount_lc            119885 non-null  float64
 11  delivery_fee_amount_lc      119885 non-null  float64
 12  Payment Method              119885 non-null  object
 13  actual_delivery_time        83526 non-null   float64
 14  promised_delivery_time      83526 non-null   float64
 15  order_delay                 76184 non-null   float64
 16  dropoff_distance_manhattan  83524 non-null   float64
 17  platform                    119885 non-null  object
 18  vertical_class              119885 non-null  object
 19  vertical                    119885 non-null  object
 20  is_affordable_freedelivery  119885 non-null  bool
 21  is_affordable_item          119885 non-null  bool
 22  is_affordable_gem           119885 non-null  bool
 23  is_affordable_restaurant    119885 non-null  bool
 24  is_affordable_voucher       119885 non-null  bool
 25  is_affordable               119885 non-null  bool
 26  affordability_amt_total     31731 non-null   float64
 27  City                        119885 non-null  object
dtypes: bool(8), datetime64[ns](1), float64(8), int64(1), object(10)
memory usage: 19.2+ MB

Thực hiện tiền xử lí như sau:
*   Bỏ các trường reason, sub_reason, owner do không liên quan và thiếu quá nhiều dữ liệu.
*   Bỏ các trường order_id, analytical_customer_id do không liên quan.
*   Bỏ trường gmv_amount_lc, do bị thừa vì gmv_amount_lc = deliver_fee + basket_amount
*   Tạo trường mới là ontime nhận giá trị 1 nếu order_delay < 0 và nhận giá trị 0 nếu ngược lại. Đồng thời xóa các trường actual_delivery_time, promised_delivery_time, order_delay.

*   Bỏ dữ liệu thời gian, giữ lại dữ liệu ngày trong trường order_time

In [30]:
df_3.drop(axis = 1, columns = ["reason", "sub_reason", "owner", "order_id","analytical_customer_id", "gmv_amount_lc"], inplace=True)

df_3['ontime'] = df_3['order_delay'].apply(lambda x: 1 if x < 0 else 0)
df_3.drop(axis = 1, columns = ["actual_delivery_time", "promised_delivery_time", "order_delay"], inplace=True)

#Bỏ đi dữ liệu thời gian, giữ lại dữ liệu ngày
df_3['order_time'] = df_3['order_time'].astype(str).str.split(' ', expand=True)[0]

df_3.dropna(axis = 1, inplace = True)

In [34]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119885 entries, 0 to 119884
Data columns (total 18 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   order_time                  119885 non-null  object
 1   is_acquisition              119885 non-null  bool
 2   is_successful               119885 non-null  bool
 3   delivery_arrangement        119885 non-null  object
 4   basket_amount_lc            119885 non-null  float64
 5   delivery_fee_amount_lc      119885 non-null  float64
 6   Payment Method              119885 non-null  object
 7   platform                    119885 non-null  object
 8   vertical_class              119885 non-null  object
 9   vertical                    119885 non-null  object
 10  is_affordable_freedelivery  119885 non-null  bool
 11  is_affordable_item          119885 non-null  bool
 12  is_affordable_gem           119885 non-null  bool
 13  is_affordable_restaurant    119885 non-null  bool
 14  is_affordable_voucher       119885 non-null  bool
 15  is_affordable               119885 non-null  bool
 16  City                        119885 non-null  object
 17  ontime                      119885 non-null  int64
dtypes: bool(8), float64(2), int64(1), object(7)
memory usage: 10.1+ MB

Chuyển các dữ liệu định dạng object về dạng số

Sử dụng phương thức LabelEncoder có sẵn trong thư viện scikit-learn để gán một số nguyên duy nhất cho mỗi giá trị có định dạng object

In [38]:
le = LabelEncoder()

is_bool = df_3.dtypes == bool
df_3[df_3.columns[is_bool].tolist()] = df_3[df_3.columns[is_bool].tolist()].astype(str)

is_Category = df_3.dtypes == object
category_column_list = df_3.columns[is_Category].tolist()
df_3[category_column_list] = df_3[category_column_list].astype(str).apply(lambda col: le.fit_transform(col))

In [43]:
df_3.head()

,order_time,is_acquisition,is_successful,delivery_arrangement,basket_amount_lc,delivery_fee_amount_lc,Payment Method,platform,vertical_class,vertical,is_affordable_freedelivery,is_affordable_item,is_affordable_gem,is_affordable_restaurant,is_affordable_voucher,is_affordable,City,ontime
0,0,0,1,0,119.7000,14.99,0,2,0,3,0,0,0,0,0,0,2,0
1,0,0,1,0,129.6554,4.99,0,0,0,3,0,0,0,0,0,0,2,0
2,0,0,1,0,79.5000,4.99,0,0,0,3,0,0,0,0,0,0,2,0
3,0,0,1,0,310.0230,9.99,0,0,0,3,0,0,0,0,0,0,2,0
4,0,0,1,0,69.0000,14.99,1,0,0,3,0,0,0,0,0,0,2,1

Sau khi xử lý dữ liệu, sử dụng phương thức train_test_split có sẵn trong thư viện scikit-learn để chia tập dữ liệu thành tập huấn luyện và tập kiểm thử (với tỉ lệ 8:2)

In [44]:
train, test = train_test_split(df_3, test_size=test_size, random_state=random_state)

Lưu tập train, test tên là Data3_train.csv và Data3_test.csv

In [45]:
train.to_csv("Data3_train.csv")
test.to_csv("Data3_test.csv")